@model SawyerAir.Models.Route_Stop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Route_Stop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stop.StopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Route_StopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
