@model SawyerAir.Models.RouteDestLocView 


@{
    ViewData["Title"] = "Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/rezervare.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('img/airplane4.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            width: 100%;
        }
        p {
            color: black;
            margin-left: 20px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 19px;
        }
        a
        {
            color:black;
        }

    </style>
</head>
<body>
    <h3 style="text-align:center">Explore travelling possibilities with SawyerAir!</h3>
    <h1>Available routes:</h1>
    <form asp-controller="Routes" asp-action="Index" method="get">
        <p>
            Filter destination locations
        </p>
        <select asp-for="RouteDestLoc" asp-items="Model.DestinationLocations">
            <option value="">All</option>
        </select>
        Quick search: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" class="button button1" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Routes[0].DepartureLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Routes[0].DestinationLocation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Routes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationLocation)
                    </td>
                    <td>
                        <b> <a asp-action="Details" asp-route-id="@item.RouteId">Details</a></b>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>