@model IEnumerable<SawyerAir.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<script src="https://kit.fontawesome.com/e67e21160a.js" crossorigin="anonymous"></script>

<h1>Flights</h1>

<style>
    .form-text {
        text-align:center;
        margin: 20px;
    }

    ::placeholder {
        text-align: center;
    }

    div.columns {
        display: grid;
        grid-template-columns: repeat( 3, minmax(280px, 1fr) );
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="columns">
    <div class="form-text">
        <input type=text placeholder="placeholder1" readonly  />
    </div>
    <div class="form-text">
        <i class='fas fa-long-arrow-alt-right' style='font-size:36px; stroke-width:100px'></i>
    </div>
    
    <div class="form-text">
        <input type=text placeholder="placeholder2" readonly />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationHour)
            </th>

            <th>
                @Html.DisplayName("Pay")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationHour)
            </td>
          

            <td>
                <form asp-action="Pay">   
                    <input type="submit" value="Pay" class="btn btn-primary" /> 
                </form>
            </td>

            

        </tr>
        }
    </tbody>
</table>
